/* Task Popup */
.task-card {
  background: var(--glass);
  border: 1.5px solid var(--glass-border);
  width: 320px;
  height: auto;
  color: var(--dark);
  border-radius: 12px;
  padding: 20px;
  position: relative;
}

.task-card h2 {
  margin-bottom: 15px;
  color: var(--dark);
  text-align: center;
}

.task-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card input {
  width: 93.2%;
  height: 40px 0;
  font-size: 1rem;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  color: var(--dark);
  border: 1px solid var(--glass-border);
}

.task-card textarea {
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  color: var(--dark);
  border: 1px solid var(--glass-border);
}

.task-card input::placeholder,
.task-card textarea::placeholder,
.task-card input[type="date"]::placeholder {
  color: var(--dark);
  font-family: 'Segoe UI', sans-serif;
}